.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tableList {
  margin-left: 1px;
  margin-right: 1px;
  border: none;}
.tableListOperator {
  margin-bottom: 16px;}
button {
  margin-right: 8px;
}

th.leftAlign {
  text-align: center !important;
}
th.centerAlign {
  text-align: center !important;
}
th.rightAlign {
  text-align: center !important;
}
td.leftAlign {
  text-align: left !important;
}
td.centerAlign {
  text-align: center !important;
}
td.rightAlign {
  text-align: right !important;
}
